:root {
  --box-shadow: 0 2px 3px 0 rgba(0,0,0,.09);
  --main_background_color: #ffdd67;
  --main_accent_color: #67E4FF;
  --secondary_background_color: #FFF0C0;
  --main_text_color: #212121;
}

// #FFF0C0,#FFDD67,#67E4FF,#A067FF